<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Server-Side Rendering Example</title>
  </head>
  <body>
    <h1 style="text-align: center">{{ title }}</h1>
    <p style="text-align: center">{{ message }}</p>

    <p onclick="showContent()">click if you want know about me</p>
    <div id="content" style="display: none">{{content}}</div>

    <!-- <form method="POST" action="/home">
      <button type="submit">Home</button>
    </form> -->
    <script>
      node = document.getElementById("content");
      function showContent() {
        node.style.display = "block";
      }
    </script>
  </body>
</html>
